body,
html {
    position: relative;
    margin: 0;
    padding: 0;
    background: black url("../../images/qixi_bg.jpg") center center no-repeat;
    background-size: 100%;
}
canvas {
    margin: 0 auto;
}
.word{
    position: fixed;
    width: 200px;
    line-height: 50px;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    text-align: center;
    opacity: 0;
    -webkit-transition-property: all;
    -webkit-transition-duration:1s;
    -webkit-transition-delay:0.5s;
    -webkit-transition-timing-function:ease-in-out;
    transition-property:all;
    transition-duration:2s;
    transition-delay:0.5s;
    transition-timing-function:ease-in-out;
}
.word:hover{
    opacity: 1;
}